body {background-color: gray;}
#categorias{
    display: flex;
    padding: 0px 150px;
    position: relative;
    justify-content: flex-start;
}

#fondocat{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 84);
    border-radius: 40px;
    flex-direction: column;
    padding: 20px 50px;
}
.botcat{
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-around;
}
.butt{
    background-color: gray;
    color: white;
    font-size: 30px;
    padding: 30px 80px;
    display: flex;
    justify-content: center;
    border: none;
    transition: background-color 0.2s ease;
    border-radius: 20px;
    justify-content: space-between;
}
.butt:hover{
    background-color: black;
}

/* .Css detail-movie.html */

#moviedet { background-color: black;
    border-radius: 30px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.titulo_detail { font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color: aliceblue; 
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    font-weight: bolder;
}

.infoduracion { color: rgba(255,255,255,0.7);
                flex-direction: row;
                margin-left: 20px ;
                font-family: 'Open Sans', sans-serif;
                font-family: 'Raleway', sans-serif;
                font-family: 'Roboto', sans-serif;
                font-family: 'Work Sans', sans-serif;
                list-style-type: none;
                


}

.rating { margin-left: 50px;

}

#moviedet2 { flex-direction: row;
             display: flex;
             margin-left: 50px;
}



#imgdetails {   width: 500px;
                height: 600px;
                border-radius: 30px;            
}            

#divpanda { background-color:rgba(240, 248, 255, 0.377);
            border-radius: 30px;
            margin-left: 50px;
            margin-right: 50px;
}

.titledet { color: rgba(255,255,255,0.7);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-left: 50px;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 20px;
}

.infomov {  color: rgba(255,255,255,0.7);
            font-family: 'Open Sans', sans-serif;
            font-family: 'Raleway', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Work Sans', sans-serif;
            width: 500px;
            align-self: right;
            font-size: 30px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: justify;
}

.extrainf { font-size: 15px;
            color: rgba(255,255,255,0.7);
            font-family: 'Open Sans', sans-serif;
            font-family: 'Raleway', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Work Sans', sans-serif;
            margin-left: 50px;
            margin-right: 50px;
            text-align: justify;
            margin-top: 150px;
}



